.form-control{
    max-width: 16rem !important;
    justify-content: center !important;
    margin:20px auto !important;
    border-radius: 15px !important;
    padding: 8px !important;
}
.btn{
    border-radius: 15px !important;
    background-color: #306d3e !important;
    color: aliceblue !important;
   &.btn:hover{
        background-color:#69BC45 !important ;
    }   
}
.BmiCalculator{
    border: 3px dashed cornsilk !important;
    border-radius: 15px !important;
    width: fit-content !important;
}
