@import "./Variables.sass";
.sidebar {
  height: 100%;
  width: autoS;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(79, 75, 75);
  overflow-x: hidden;
  padding-top: 16px;
  border-bottom: solid 4px #69BC45;
  border-top: solid 4px  #69BC45;
  border-left: solid 4px  #69BC45;
  border-right: solid  4px #69BC45;
}

/* Style sidebar links */
.sidebar a {
  padding: 60px 8px 20px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #69BC45;
  display: block;
  justify-content: center;
  
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #ffffff;
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.profileImage{
width: 200px;
border-radius: 6rem;
}
#profile_pic{
  width: 200px;
  border-radius: 10rem;
  margin-bottom: 15px;
}
.profileImageContaioner{
  border-bottom: solid #69BC45;
  padding-bottom: 30px;
}

.span{
color: #69BC45;
font-size: x-large;

}
.menu{
  margin-bottom: 50px;
  margin-top: 50px;
}
