.body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  line-height: 130%;
  width: auto;
  min-height: 100vh;
  flex-direction: row;
  flex: 1;
}

.contents {
  padding-left: 2%;
  margin-left: 2%;
}
