.main {
  background-color: #ffffff;
  align-self: center;
  align-items: center;
  width: auto;
  flex-direction: row;
  max-width: 1080px;
  border-radius: 10px;
  opacity: .95;
  height: min-content;
  margin-top: 2%;
}