.main {
  align-self: center;
  width: auto;
  display: flex;
  flex-direction: row;
  max-width: 1080px;
  margin: 2% 2% auto;
  padding: 20px;
  /*border:5px solid black;*/
  border-radius: 10px;
  opacity: .95;
  flex: auto;
}

.main article {
  margin: 20px;
  width: auto;
  height: min-content;
}