.ingredients-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  flex-direction: row;
  width: 99%;
}

.not-found {
  margin: auto;
  margin-top: 30px;
  width: 70%;
  padding: 10px;
}

@media (min-width: 1340px) {
  .ingredients-list {
    align-self: flex-end;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: auto;
  }
}

@media (min-width: 1920px) {
  .ingredients-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 2800px) {
  .ingredients-list {
    grid-template-columns: repeat(4, 1fr);
  }
}