html {
  background: rgba(108, 115, 118, 1.0);
  margin: 0;
  padding: 0;
  height: 100vh;
  flex: 1;
  background: rgba(108, 115, 118, 1.0);
}

* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
}

.contents {
  background: rgba(108, 115, 118, 1.0);
}

.main {
  background: rgba(108, 115, 118, 1.0);
}

body {
  background: rgba(108, 115, 118, 1.0);
  max-width: 100vw;
  margin: 0;
  padding: 0;
  flex: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: lightgray;
  background: rgba(108, 115, 118, 1.0);
}

code {
  background-color: lightgray;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}