.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.input {
  justify-content: space-around;
}

.title {
  width: fit-content;
}