.content {
  flex: fit-content;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-left: 10px;
  border-radius: 30px !important;
  /* Created with https://www.css-gradient.com */
  background: rgba(108, 115, 118, 1.0);
  background: -webkit-linear-gradient(right, rgba(108, 115, 118, 1.0), rgba(149, 205, 125, 1.0));
  background: -moz-linear-gradient(right, rgba(108, 115, 118, 1.0), rgba(149, 205, 125, 1.0));
  background: linear-gradient(to left, rgba(108, 115, 118, 1.0), rgba(149, 205, 125, 1.0));
}

.dailymeals .list-group-item {
  background-color: #69BC45;
  padding: 10px;
  margin: 15px;
  border-radius: 20px;
}

.dailymeals .list-group-item :hover {
  background-color: #0e9809;
}

.dailymeals .list-group-item {
  background-color: gray;
}

.dailymeals .list-group :hover {
  background-color: #807777;
  color: #111010;
}

.dailymeals :hover {
  color: #ffffff;
}

.dailymeals {
  border-radius: 20px;
  padding: 10px;
  margin: auto;
  margin-top: 30px !important;
  max-width: 700px !important;
  min-width: 300px !important;
}


.hbar {
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 20px;
}


.dailyqotues {
  border-radius: 20px;
  padding: 10px;
  margin: auto;
  margin-top: 50px !important;
  max-width: 700px !important;
  min-width: 300px !important;
}

.barchart {
  border-radius: 20px;
  padding: 10px;
  margin: auto;
  margin-top: 30px !important;
  justify-content: center;
  max-width: 700px !important;
  min-width: 300px !important;
}

.piechart {
  border-radius: 20px;
  padding: 10px;
  margin: auto;
  margin-top: 30px !important;
  max-width: 700px !important;
  min-width: 300px !important;
}