.ingredient {
  margin-left: 20px;
  display: block;
  align-self: center;
  text-align: center;
  width: inherit;
  justify-content: center;
  align-items: center;
}

.section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: auto;
  padding: 40px;
  align-self: center;
  display: 1;
  flex-direction: row;
}

.nutrients-plus {
  width: inherit;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-content: center;
  align-self: center;
  align-items: center;
}

.nutrients-content {
  align-self: center;
  align-items: center;
  align-content: center;
}

.pie {
  margin: 0;
}


.categories {
  padding: 40px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.category {
  color: #0e9809;
  background-color: white;
  margin-top: 4px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  margin-right: 10px;
  border-style: solid;
  border-width: thick;
  border-color: rgba(108, 115, 118, 1.0);
  border-radius: 10px;
}

.units {
  display: block;
  padding: 40px;
  width: 60%;
  width: inherit;
  align-self: center;
  display: flex;
  flex-direction: column;
}


.unit {
  border-radius: 10px;
  color: #0e9809;
  background-color: white;
  margin-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  margin-right: 10px;
  border-style: solid;
  border-width: thick;
  border-color: rgba(108, 115, 118, 1.0);

}

.nutrients-title {
  margin-left: 20px;
  padding-left: 10px;
  align-self: center;
  width: 90%;
  border-bottom: 2px;
  text-align: start;
}


.nutrients {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 99%;
  padding: 40px;
  align-self: center;
  display: 1;
  flex-direction: row;
}


.nutrient {
  border-radius: 10px;
  color: #0e9809;
  background-color: white;
  margin-top: 4px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 5px;
  margin-right: 5px;
  border-style: solid;
  border-width: thick;
  border-color: rgba(108, 115, 118, 1.0);
}

@media (min-width: 1300px) {
  .section {

    align-self: center;
  }

  .units {
    display: flex;
    width: 60%;
    padding: 40px;
    align-self: center;
    flex-direction: row;
  }

  .categories {
    padding: 40px;
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: row;
  }

  .nutrients {
    margin-left: 10px;
    align-self: flex-end;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: auto;
  }

  .pie {
    width: 60%;
  }

  .nutrients-content {
    width: 60%;
  }
}

@media (min-width: 1700px) {
  .nutrients {
    grid-template-columns: repeat(3, 1fr);
  }

  .pie {
    width: 60%;
  }

  .nutrients-content {
    width: 80%;
  }

}

@media (min-width: 2000px) {
  .nutrients {
    grid-template-columns: repeat(4, 1fr);
  }

  .nutrients-plus {
    width: inherit;
    grid-template-columns: repeat(2, 1fr)
  }
}